.destroyb{

text-align: center;
}
.destroyb a{

    background-color: rgb(15, 15, 15);
color:black;
border-radius:5px;
padding: 0.8em;
transition: 0.2s;
text-align: center;
font-family: arial;
font-weight: 900;
color:white;
text-decoration: none;

}

.destroyb a:hover{
transition: 0.2s;
padding: 1em;
background-color: rgb(172, 172, 172);
color:black;
    }

.connecte_toi{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 1%;
    margin-right: 2%;
    
}
.connecte_toi a{
    border:solid 2px #1a1a1a;
    padding: 5px;
    color:black;
    text-decoration:none;
    border-radius:40px;
    transition: 0.2s;

}

.connecte_toi a:hover{
    border:solid 2px #007bff;
    background-color: #007bff;
    transition: 0.2s;
    color:white;
    text-decoration:none;

}

form {

    background-color:#ececec;
padding: 2%;
border: solid 1px#ced4da;
}

.centrage{
    background-color:#a9d2ff;
    color:rgb(61, 61, 61);
    
    
    margin:0 auto;
    width: 50%;

}


.card img{
    width: 100%;
}

